In [1]:
import pandas as pd
import numpy as py
import os

In [2]:
os.listdir()

['Excel file Manipulation.ipynb',
 '~$sales-funnel(for_testing).xlsx',
 'Geocoding Addresses with Pandas and Geopy - Study.ipynb',
 'Create Pivot Table.ipynb',
 'Study.ipynb',
 '.ipynb_checkpoints',
 'sales-funnel(for_testing).xlsx']

In [5]:
df = pd.read_excel("sales-funnel(for_testing).xlsx", index_col=0)
df

,Name,Rep,Manager,Product,Quantity,Price,Status
Account,,,,,,,
714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [6]:
df = df.sort_values(by = ['Account','Name'], ascending = [False, True])
df

,Name,Rep,Manager,Product,Quantity,Price,Status
Account,,,,,,,
740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented
714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won

In [7]:
df.describe()

        Quantity          Price
count  17.000000      17.000000
mean    1.764706   30705.882353
std     1.032558   28444.605609
min     1.000000    5000.000000
25%     1.000000    7000.000000
50%     2.000000   30000.000000
75%     2.000000   40000.000000
max     5.000000  100000.000000